{% extends 'base.html' %}
{% block content %}

<main class="container">
 <div style="margin-top: 50px;">
  <h1>{{request.user.neighboorhood}}.
   <small style="font-size: 20px; color: #5c8fff; cursor: pointer;">
    <a href=""><i class="fa fa-external-link" aria-hidden="true"></i></a>
   </small>
  </h1>
 </div>
 <h2 style="margin-top: 50px;">Latest Posts</h2>

 {% for post in posts %}

 <div style="display: flex; max-width: 900px; gap: 10px;">
  <div>
   <img src="{{post.user.image.url}}" alt="" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
  </div>
  <div>
   <h5>@{{post.user.username}}</h5>
   <small class="text-muted">{{post.created | date:"M d, Y"}}</small>
   <p>{{post.body}}</p>
  </div>
 </div>
 {% endfor %}




 <div class="row mb-2" style="margin-top: 80px;">
  <h2>Business Available</h2>
  {% for bizna in businesses %}

  <div class="col-md-6">
   <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
     <strong class="d-inline-block mb-2 text-primary">@{{bizna.user.username}}</strong>
     <h3 class="mb-0">{{bizna.name}}</h3>
     <div class="mb-1 text-muted">{{bizna.created | date:"M d, Y"}}</div>
     <p class="card-text mb-auto">{{bizna.body}}.</p>
     <!-- <a href="#" class="stretched-link">Continue reading</a> -->
     <span style="margin-top: 20px;">Contact:</span>
     <p style="color: blue;">{{bizna.contact}}</p>
    </div>
    <div class="col-auto d-none d-lg-block">
     <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
      aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
     </svg> -->

     <img src="{{bizna.image.url}}" alt="" width="350" height="300" style="object-fit: cover;">

    </div>
   </div>
  </div>
  {% endfor %}



 </div>
</main>
{% endblock content %}